* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:#000;
    color: #fff;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #6B7280;
    margin-bottom: 1rem;
}

#toggle-mode-btn {
    margin-left: auto !important;
 }

/* Light mode */
body:not(.dark){
    background: #fff;
    color: #000;
  }
  .nav-link:not(.dark) {
    color: #fff;
    background: #000;
    border: 0.5px #fff solid;
  }

 #new-task-submit:not(.dark) {
    border: 1px #000 solid;
 }

 #toggle-mode-btn:not(.dark) {
    display: flex;
    justify-content: right;
    width: 50px;
    margin: 20px;
    border: 1.5px #000 solid;
    border-radius: 50px;
  }
  
  /* Dark mode */
  body.dark{
    background: #000;
    color: #fff;
  }
  .dark #new-task-submit {
    border: 1px #fff solid;
  }

  .dark #toggle-mode-btn {
    color: #fff !important;
    margin-left: 0 auto;
  }
  .dark #toggle-mode-btn {
    display: flex;
    justify-content: left;
    border: 1px #fff solid;
    transition: .3s;
  }
  
  .dark .nav-link{
    border: #fff 0.5px solid;
  }
  

#new-task-from {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.tab-pane {
    padding: 25px 10px 10px 10px;
}
.nav-link {
    color: #fff;
}
#myTab {
    margin: 16px;
}

#new-task-input {
    flex: 1 1 0%;
    width: 60%;
    background-color: #000;
    padding: 1rem;
    border: 1px #fff solid;
    border-radius: 5px;
    margin-right: 1rem;
    color: #fff;
    font-size: 1.25rem;
}

#new-task-input::placeholder {
    color: #6B7280;
}

#new-task-submit {
    color: crimson;
    font-size: 1.25rem;
    font-weight: 700;
    border: 1px #fff solid;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
    
}

#new-task-submit:hover {
   background: #fff;
    border: 1px solid #fff;
    /* border-radius: 20px; */
    color:#000;
    transition: 0.4s ease;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #6B7280;
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 1rem;
    border: 1px #fff solid;
    border-radius: 5px;
    margin-bottom: 1rem;
}
#reset-btn {
    color: #000;
}
.dark #reset-btn {
    color: #fff;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: #fff;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    margin: 5px;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color:crimson;
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
.task .actions .delete:hover {
    opacity: 0.4;
}
.task .actions button:active {
    opacity: 0.8;
}
.task .actions .edit {
    color: aquamarine;
    border: 1px #fff solid;
    border-radius: 5px;
    
}
.task .actions .edit:hover {
    background: #fff;
    color: #000;
    /* padding-right: 50px !important; */
    
}

.task .actions .delete {
    color: crimson;
}

/* Modal dialog box setting */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: #000;
  }
  
  .modal-content {
    position: relative;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    height: 100px;
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  
  #close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0;
  }
  
  footer a {
    display: inline-flex;
    color: #000;
    font-size: 25px;
  }
  .dark footer a {
    color: #fff;
  }

  /* ========== BREAKPOINTS ============ */
/* For large devices */
@media screen and (max-width: 992px) {
    
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }
    #new-task-input {
        width: 100%;
        margin-bottom: 20px;
    }
    .nav-link {
        font-size: 10px;
    }
    .tab-pane {
        margin: 10px;
    }
    #new-task-submit {
        font-size: 15px;
    }
    .edit, .delete {
        font-size: 12px !important;
    }
    #custom-modal {
        margin-top: 50%;
    }
    #custom-modal p {
        justify-content: center;
        margin: auto;
    }
    input.task {
        overflow-wrap: break-word !important;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    header h1 {
        font-size: 28px;
    }
    #new-task-input {
        width: 100%;
        margin-bottom: 20px;
    }
    .nav-link {
        font-size: 9px;
    }
    .tab-pane {
        margin: 10px;
    }
    #new-task-submit {
        font-size: 15px;
    }
    .task {
        flex-direction: column;
        align-items: flex-start;
    }
    .actions {
        margin-top: 0.5rem;
    }
    .edit,
    .delete {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 12px !important;
    }
    #custom-modal {
        margin-top: 50%;
    }
    #custom-modal p {
        justify-content: center;
        margin: auto;
    }
    input.task {
        overflow-wrap: break-word !important;
    }

    
  }
  